/*************fonts ***************/
@import url('https://fonts.cdnfonts.com/css/gotham-narrow');
@font-face {
    font-weight: 325;
    font-family: "Gotham XNarrow 325";
    src: url("https://cilearningschool.com/galgotia/assets/fonts/GothamXNarrow-Book.woff");
}



@font-face {
    font-family: "samsungbold";
    src: url("../fonts/samsungsharpsans-bold.woff");
}
@font-face {
    font-family: "gothambold";
    src: url("../fonts/Gotham\ Narrow\ Bold.otf");
}
@font-face {
    font-family: "gothammedium";
    src: url("../fonts/Gotham\ Narrow\ Medium.otf");
}
@font-face {
    font-family: "gothamnarrow";
    src: url("../fonts/GothamNarrow-Black.otf");
}
.gothambold{
    font-family: "gothambold";
}
.samsungbold{
    font-family: "samsungbold";
}
.gothammedium{
    font-family: "gothammedium";
    
}
.gothamnarrow325{
    font-weight: 325;
    font-family: "Gotham XNarrow 325"; 
}

/*************colors***************/
.redline{
    border: 2px solid #BC1820;
    opacity: 1;
}
.colorred{
    color: #BC1820;
}

.a2a2a2{
    color:#2A2A2A;
}
.o2o2o{
    color: #202020;
}
.white{
    color: #ffff;
}

/*********font-size******************/
.f18{
    font-size: 1.125rem;
}
.f48{
    font-size: 3rem;
}
.f30{
    font-size: 	1.875rem;
}
.f23{
    font-size: 1.4375rem
}
.f24{
    font-size: 1.5rem;
}
.f22{
    font-size: 1.375rem;
}
.f28{
    font-size: 1.75rem;
}
.f20{
    font-size: 1.25rem;
}
.f48{
    font-size: 3rem;
}
.f60{
    font-size: 3.75;
}
.f36{
    font-size: 2.25rem;
}
.tabslider1 .owl-prev{
    display: none;
}

.tabslider1 .owl-next{
    position: absolute;
    right: 0px;
    top: 37%;
    transform: translateY(-50%);
    background-color: white !important;
    width: 35px;
    height: 35px;
    border: 2px solid red !important;
    color: red !important;
    border-radius: 100% !important;
    font-size: 24px;

}
.owl-theme .owl-nav [class*='owl-prev']{
    display: none;
}

.one-edge-shadow {
    -webkit-box-shadow: 0 7px 10px -8px #00000066;
       -moz-box-shadow: 0 7px 10px -8px #00000066;
       box-shadow: 0 7px 10px -8px #00000066;
}

.mspoint{
       
        border: 2px solid white;
        height: 45px;
        width: 65px;
       
        border-radius: 12px;
        padding-left: 12px;
        padding-right: 12px;
}
.mscntnt{
    padding-left: 0.5rem;
}
.bannercntnt{
    background-position: center !important;
    background-size: cover !important;
}
.cntnt{
    margin: auto;
}
.mt25rem{
    margin-top: 2.5rem;
}
.mb25rem{
    margin-bottom: 2.5rem;
}
.mt45rem{
    margin-top: 4.5rem;
}
.mb45rem{
    margin-bottom: 4.5rem;
}
.pr2rem{
    padding-right: 2rem;
}
.pt10px{
    padding-top: 10rem;
}
.profilecard{
    background-color: #202020;
}
.imgboxdeen{
    background-color: #A2A2A2;
    height:326px;

   
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: red;
    background-color: transparent;
    border-radius: 0px;
    border-bottom: 2px solid red;
}
.nav-link {
    color: black;

}
.bannerdeen{
    background-position: center !important;
    background-size: cover !important;
}
.linee{
    height: 1px;
    width: 100%;
    margin: auto;
    background: white;
}
.owl-theme .owl-nav {
    margin-top: 0px;
}
hr.new5 {
    border: 2px solid #ff000d;
    border-radius: 5px;
  }

/* .cardforblog{
    width: 380px !important;
    
  } */

  .cardimage {
    width: 400px;
    height: 360px;
}

.readmoree a{
    text-decoration: none;

}
/*------------Ankit----------*/
.tpHeader{background: #BC1820;position: relative;z-index: 999;}
.tpUl{
	display: flex;
    justify-content: end;
    align-items: center;
    list-style-type: none;
    margin: 0 0;
}
.tpUl a{
	font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 11px 20px;
    display: inline-block;
    font-family: 'Gotham XNarrow 325', sans-serif;
}
header{
	background: #202020;
	position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
}

.navbar.navbar-expand-lg,.nav-item.dropdown{position: static;}
.navbar-expand-lg .navbar-nav .nav-link{font-size: 20px;color: #FFFFFF;font-family: "gothammedium";padding: 0 20px;transition: 0.3s;}
.navbar-expand-lg .navbar-nav .nav-link.active{color: #F7D209;}
.dropdown-toggle::after{
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    height: 11px;
    width: 11px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
    border-top: none;
    border-right: none;
    transition: 0.3s;
}
.dropdown-toggle.active::after{
    border-left: 2px solid #F7D209;
    border-bottom: 2px solid #F7D209;
}
.applyNow{
	background: #FFFFFF;
    font-size: 16px;
    color: #BE2727;
    font-family: 'Poppins', sans-serif;
    border-radius: 23px;
        padding: 11px 37px;
        font-weight: 500;
}
.banner{
	background: url('./../images/banner.png') 0 0 no-repeat;
	background-size: cover;
	    position: relative;
	        margin-top: -170px;
}
.bnrHead {padding: 20rem 0;}
.bnrHead h1{font-size: 120px;color: #FFFFFF;padding: 100px 0;font-family: "samsungbold";}
.explore{
	    font-size: 16px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    border-radius: 23px;
    padding: 10px 37px;
    font-weight: 500;
    background: #2a2a2a;
    border: 0 none;
    text-decoration: none;
}
.striveForm span{
	font-size: 18px;
    color: #BE2727;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 10px;
}
.striveForm h2{font-size: 48px;font-family: "samsungbold";color: #2A2A2A;}
.striveForm p{font-size: 20px;color: #2A2A2A;font-family: 'Gotham XNarrow 325', sans-serif;}
.strColCnt p{
	color: #FFFFFF;
    font-size: 20px;
    border-right: 2px solid #575757;
    min-height: 60px;
    display: flex;
    align-items: end;
    text-align: start;
}
.strColCnt{padding: 0 10px;}
.striveColmn{background: #202020;padding: 200px 80px;text-align: center;}
.exploreForm label{
	font-size: 20px;
    font-family: "samsungbold";
    color: #2A2A2A;
    margin-bottom: 15px;
}
.finEx{position: relative;}
.exploreInput{width: 100%;height: 64px;border: 0 none;padding: 0 20px;}
.finEx svg{
	color: #bc1820;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0%, -50%);
    font-size: 24px;
}
.viewAll{
	font-size: 16px;
    color: #FFFFFF;
    border-radius: 23px;
    background: #2A2A2A;
    border: 0 none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 13px 34px;
}
.striveColmn>.row{max-height: 97rem;    overflow: hidden;}
.striveForm{
	    position: fixed;
    top: 15rem;
    width: 45%;
    background: #fff;
    z-index: 1;
    left: 0;
    padding: 0 100px;
}
.striveForm:after{
	    content: '';
    position: absolute;
    width: 100rem;
    background: #ebeeef;
    left: 0;
    top: 70%;
    height: 70%;
    z-index: -1;
}
.exploreForm{padding-top: 20px;}
.nation{
	background: url('./../images/collage.png') 0 0 no-repeat;
	background-size: cover;
	padding: 110px 0;
}
.nationCnt{background: #00000060;padding: 80px 100px;}
.nationCnt h2{font-size: 60px;color: #FFFFFF;font-family: "samsungbold";}
.nationCnt p{font-size: 20px;color: #FFFFFF;font-family: 'Poppins', sans-serif;font-weight: 400;}
.whoWeAre{
	background: #FFFFFF;
    border-radius: 23px;
    border: 0 none;
    font-size: 16px;
    color: #BE2727;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 12px 30px;
    min-width: 160px;
}
.counterBox{width: 50%;margin-left: auto;border-bottom: 1px solid #ffffffa8;}
.cnterBoxCnt{
	    background: #ffffffe6;
    display: inline-block;
    text-align: start;
    padding: 25px 70px;
    width: 100%;
}
.cnterBoxCnt h4{font-size: 60px;color: #BC1820;font-family: "gothambold";margin-bottom: 0;}
.cnterBoxCnt p{color: #2A2A2A;font-size: 24px;font-family: "gothammedium";margin-bottom: 0;}
.counterBox:nth-child(odd) .cnterBoxCnt{background: #ffffffc2;}
.z9{z-index: 9}
.pos-rel{position: relative;}
.philosophy{
	background: url('./../images/bgRed.png') 0 0 no-repeat;
	background-size: 110% 200%;
    overflow: hidden;
    padding-left: 100px;
    background-position: center center;
}
.lstImg {    position: relative;left: 15px;}
.fstCnt h4{font-size: 30px;color: #FFFFFF;font-family: "gothammedium";}
.research {    background: linear-gradient(264deg, rgba(0,0,0,1) 22%, rgba(255,255,255,1) 100%);padding: 150px 0 250px;z-index: 1;}
.research .nationCnt{background: transparent;    padding: 50px 30px;}
.blogLeft{position: relative;}
.blgBoxCnt{
	    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 50px;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgb(255 255 255 / 0%) 100%);
}
.blgBoxCnt h4{font-size: 36px;color: #FFFFFF;font-family: "gothambold";}
.blgBoxCnt p{font-size: 20px;color: #FFFFFF;font-family: 'Gotham XNarrow 325', sans-serif;}
.knowMore{
	font-size: 20px;
    color: #BE0707;
    text-decoration: none;
    font-family: "gothammedium";
    display: flex;
    align-items: center;
}
.knowMore svg{font-size: 24px;}
.blogRight {position: relative;}
.blogRight  .blgBoxCnt{
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px;
}
.blogRight h4{font-size: 28px;color: #FFFFFF;font-family: "gothambold";}
.blogRight p{font-size: 16px;color: #FFFFFF;font-family: 'Gotham XNarrow 325', sans-serif;}
.innovation {
	    width: 90%;
    margin: 0 auto;
    background: #F3F3F3;
    margin-top: -150px;
    padding: 100px 100px 140px;
}
.blgBoxImg img{width: 100%;object-fit: cover;height: 100%;}
.blogLeft{height: 100%;}
.blgBoxImg{height: 100%;}
.innovationSec{
    width: 100%;
}
.placement {background: #fff;padding: 90px 0;}
.tpHead {    text-align: center;width: 50%;margin: 0 auto;}
.tpHead h2{font-size: 48px;color: #2A2A2A;font-family: "samsungbold";}
.tpHead p{font-size: 20px;color: #2A2A2A;font-family: 'Gotham XNarrow 325', sans-serif;}
.tpCounter {width: 100%;border-top: 2px solid #BE2727;padding: 30px 0px;}
.tpCntrBox{    width: 20%;padding: 0px 50px;border-right: 1px solid #C1C1C1;}
.tpCntrBox:last-child{border-right: 1px solid transparent;}
.tpCntrBox h4{font-size: 51px;color: #BC1820;font-family: "gothambold";}
.tpCntrBox p{font-size: 20px;color: #BC1820;font-family: "gothammedium";}
.lpaImg{height: 100%;}
.lpaImg img{width: 100%;height: 100%;object-fit: cover;}
.minLpaImg img{width: 100%;object-fit: cover;max-height: 300px;}
.minLpaCnt{position: absolute;bottom: 0;left: 0;}
.minLpaCnt h4{
    font-size: 26px;
    color: #FFFFFF;
    background: #BC1820;
    border-radius: 0px 20px 0px 0px;
    padding: 5px 20px;
    font-family: "gothambold";
}
.minLpaCnt p{
        padding: 5px 20px;
    font-size: 16px;
    color: #FFFFFF;
    font-family: "gothammedium";
}
.minLpaCnt p span{font-size: 18px;}
.tpCompanie h4{    font-size: 28px;color: #2A2A2A;font-family: "gothambold";}
.tpCompanieBox{width: 18%;margin-bottom: 30px;}
.tpCompanieRow {flex-wrap: wrap;justify-content: space-between;}
.tpCompanieBox img{width: 100%;}
.vibrant{
    background: url('./../images/bgPlay.png') 0 0 no-repeat;
    background-size: cover;
    padding: 120px 0px;
}
.playBtn{
        border: 0 none;
    border-radius: 50%;
    width: 99px;
    height: 99px;
    background: transparent;
}
.facility {padding: 75px 0px 100px;background: #F3F3F3;}
.facilityRow{padding: 0 10px;}
.facilityImg img{width: 100%;}
.facilityCnt h4{font-size: 28px;color: #2A2A2A;font-family: "gothambold";}
.facilityCnt p{font-size: 16px;color: #2A2A2A;font-family: 'Gotham XNarrow 325', sans-serif;}
.facilityCnt{padding-right: 30%;}
.standing{background: #fff;    padding: 100px 0px;}
.standing .tpHead{width: 60%;}
.standingRow {flex-wrap: wrap;}
.stdBtmRght {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 70px 40px;
    width: 50%;
}
.stdBtmleft{width: 50%;}
.red .stdBtmRght{background: #BE2727;}
.gray .stdBtmRght{background: #EFEFEF;}
.red .knowMore{color: #fff;}
.stdBtmRght h6{
    font-size: 23px;
    color: #FFFFFF;
    font-family: "gothammedium";
    line-height: 1.5;
}
.stdBtmleft img{    width: 100%;height: 100%;object-fit: cover;}
.gray  .stdBtmRght h6{color: #2A2A2A;}
.stdBtmRght:after{
    position: absolute;
    content: '';
    left: 92%;
    top: 50%;
    width: 50px;
    height: 50px;
    transform: translate(0px, -50%) rotate(45deg);
}
.red .stdBtmRght:after{background: #BE2727; }
.gray .stdBtmRght:after{background: #EFEFEF; }
.testimonial{background: #202020;padding: 70px 0px 300px;}
.tstDiv h2{font-size: 48px;color: #FFFFFF;text-align: center;}
.tstImgBox{
    background: #373737;
    border-radius: 0px 40px;
    text-align: center;
    padding: 30px 40px 20px;
}
.tstImg{margin-bottom: 20px;}
.tstCnt p{font-size: 24px;color: #FFFFFF;font-family: 'Gotham XNarrow 325', sans-serif;}
.tstCnt strong{font-size: 24px;color: #FFFFFF;    font-family: "gothambold";}
blockquote{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #FFFFFF;
    font-family: 'Gotham XNarrow 325', sans-serif;
    font-style: italic;
}
.quoteBdr{
    display: inline-block;
    height: 100%;
    width: 6px;
    background: #BC1820;
}
.ytVideo img{width: 100%;}
.ytPlay{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.ytCnt h4{font-size: 22px;color: #FFFFFF;font-family: "gothammedium";}
.alliance .tpHead{width: 60%;}
.alliance .innovation{margin-top: -200px;padding: 70px 100px 60px;position: relative;}
.alliance .tpHead h2{color: #BE2727;}
.allCrosalBoxCnt p{color: #2A2A2A;font-size: 18px;font-family: "gothammedium";}
.media {background: #fff;padding: 50px 0px 100px;}
.mediaBox{
        width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #C5C5C5;
    padding: 40px 20px;
}
.mediaRow {justify-content: space-between;}
.news {background: #F1F1F1;padding: 65px 0px 100px;}
.newsImg img{width: 100%;}
.newsCntent{padding: 27px 25px;background: #FFFFFF;}
.newsCntent span{
        font-size: 20px;
    color: #BE2727;
    font-family: "gothammedium";
    display: inline-block;
    margin-bottom: 10px;
}
.newsCnt span{
    font-size: 20px;
    color: #fff;
    font-family: "gothammedium";
    display: inline-block;
    margin-bottom: 10px;
}
.newsCntent p{
    font-size: 23px;
    color: #202020;
    font-family: "gothammedium";
}
.newsCnt p{
    font-size: 23px;
    color: #fff;
    font-family: "gothammedium";
}
.newsCnt{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px 25px;
    background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
}
.newsBox {width: 100%;}
.newsBoxGrp{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/*footer*/

footer{background: #202020;padding: 80px 0px 0px;}
.ftrlist {
    color: #FFFFFF;
    font-size: 20px;
    font-family: "gothammedium";
}
.ftrUl{
    margin: 0 0;
    padding: 0 0;
    list-style-type: none;
    line-height: 1.7;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 250px;
}
.ftlItem{
    font-size: 18px;
    color: #FFFFFF;
    font-family: 'Gotham XNarrow 325', sans-serif;
    text-decoration: none;
}
.scndList .ftrUl{height: 350px;}
address{font-family: 'Gotham XNarrow 325', sans-serif;font-size: 18px;}
.cntctUl{
    padding: 0 0;
    margin: 0 0;
    list-style-type: none;
    line-height: 1.6;
}
.cntctUl a{
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}
.SocialUl{
        list-style-type: none;
    margin: 0 0;
    padding: 0 0;
}
.SocialItem{margin: 0 10px;text-decoration: none;}
.underLine{
    background: #BE2727;
    height: 3px;
    display: inline-block;
    width: 100%;
    margin: 30px 0;
}
.ftrBtm{border-top: 1px solid #919191;padding: 24px 0px;margin-top: 100px;}
.ftrBtm ul{list-style-type: none;    margin: 0 0;padding: 0 0;}
.ftrBtm ul li,.ftrBtm ul li a{font-size: 16px;color: #FFFFFF;font-family: 'Gotham XNarrow 325', sans-serif;text-decoration: none;}
.ftrBtm ul li{padding: 0 10px;border-right: 1px solid #fff;}
.ftrBtm ul li:last-child{border-right: 1px solid transparent;}
/*----------------*/
.fstImg{position: relative;height: 100%;display: flex;}
.fstCnt{
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.fstImg:after,.fstImg:before{
    position: absolute;
    content: '';
    right: 0;
    top: 10%;
    width: 5px;
    height: 76%;
    background: #e58d8d;
}
.fstImg:before{width: 2px;right: 10px;}
.sportFac h4{font-size: 36px;color: #2A2A2A;font-family: "samsungbold";}
.navCrousal{
    position: absolute;
    left: 0;
    top: 168px;
    background: #000;
    width: 100%;
    margin: 0 0;
    border-radius: 0;
    border-top: 1px solid #959595;
    padding-top: 50px;
    padding-bottom: 50px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    transition: 0.5s;
    z-index: 99;
}
.nav-link.active~.navCrousal{opacity: 1;visibility: visible;transform: translateY(0%);}
.navCrousal .owl-stage{display: flex;}
.navCrousal .owl-stage-outer{width: 90%;overflow: hidden;margin: 0 auto;position: relative;}
.dropdown-item-Img img{width: 100%;}
.dropdown-item-Cnt{background: #404040;padding: 13px 15px;}
.dropdown-item-Cnt p{
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.navCrousal .dropdown-item{white-space: inherit;}
.navCrousal.owl-theme .owl-nav{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: end;
    padding: 0 50px;
    z-index: -1;
    transform: translate(0, -50%);
} 
.navCrousal.owl-theme .owl-nav [class*='owl-']{background: transparent;border: 0 none;font-size: 60px;}
.navCrousal.owl-theme .owl-nav.disabled + .owl-dots{display: none;}
.navCrousal li{list-style-type: none;}
.navCrousal>.container{position: relative;}
.navCrousal .owl-stage-outer:after,.navCrousal>.container:after{
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background: #959595;
    margin-top: 50px;
    position: relative;
    bottom: 2px;
}
.navCrousal .owl-stage-outer:before,.navCrousal>.container:before{
    display: block;
    content: '';
    width: 160px;
    height: 6px;
    background: #959595;
    position: absolute;
    left: 50%;
    bottom: 0;
    border-radius: 23px;
    transform: translate(-50%, 0px);
}
.accedmicList span{
    font-size: 18px;
    color: #7B7B7B;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    margin-bottom: 10px;
}
.accedmicList ul{
    margin: 0 0;
    padding: 0 0;
    list-style-type: none;
}
.accedmicItem{
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
.accedmicUl .accedmicList:nth-child(1) .accedmicItem{
    font-weight: 600;
    position: relative;
}
.accedmicUl .accedmicList:nth-child(1) .accedmicItem:after{
    position: absolute;
    content: '';
    top: 6px;
    left: -25px;
    border-right: 2px solid #FF5D5D;
    border-bottom: 2px solid #FF5D5D;
    height: 12px;
    width: 12px;
    transform: rotate(-45deg);
}
.accedmicUl .accedmicList:nth-child(2) .accedmicItem{font-size: 14px;}
.accedmicUl .accedmicList:nth-child(3) .accedmicItem{font-size: 12px;text-align: end;}
.accedmicUl .accedmicList:nth-child(3){text-align: end;}
.accedmicUl {justify-content: space-between;}
.tstDivCrow {width: 80%;position: relative;}
.tstDivCrow:after{
    position: absolute;
    content: '';
    right: -30%;
    top: 0px;
    width: 30%;
    height: 100%;
    background: transparent linear-gradient(270deg, #202020 0%, #00000000 100%) 0% 0% no-repeat padding-box;
}
.tstDivCrow .owl-stage{display: flex;}
.testimonial .container{overflow: hidden;}
.tstDivCrowBx {padding-right: 100px;}
.tstDivCrow.owl-theme .owl-nav [class*='owl-']{
    position: absolute;
    top: 50%;
    text-align: end;
    right: -25%;
    z-index: 9999;
    opacity: 1;
    transform: translate(0px, -50%);
    background: transparent;
    border: 0 none;
    color: #FFFFFF50;
    font-size: 70px;
}
.allCrosal .owl-stage{display: flex;}
.allCrosal.owl-theme .owl-nav{display: flex;    align-items: center;}
.allCrosal.owl-theme .owl-nav .owl-prev{display: none !important;}
.allCrosal.owl-theme .owl-nav [class*='owl-']{
        border: 0 none;
    background: transparent;
    color: #5E5E5E50;
    font-size: 70px;
    display: flex;
    align-items: self-start;
    cursor: pointer;
}
.allCrosal {overflow: hidden;position: relative;}
.lpaCrousal .owl-stage-outer{overflow: hidden;}
.lpaCrousal {position: relative;}
.lpaCrousal .owl-stage{    display: flex;}
.lpaCrousal.owl-theme .owl-nav [class*='owl-']{
        position: absolute;
    top: 50%;
    right: -40px;
    border: 0 none;
    background: transparent;
    color: #20202056;
    font-size: 70px;
}
.allCrosal.owl-theme .owl-nav .owl-next,.schlnewsCrosal.owl-theme .owl-nav .owl-next{
    position: absolute;
    right: -10px;
    top: 40%;
    transform: translate(0px, -50%);
}
.sportFac .blgBoxCnt h4{color: #fff;}

header.home{background: transparent linear-gradient(180deg, #000000 0%, #00000000 100%) 0% 0% no-repeat padding-box;}
.headingdeen.pt10px {padding-top: 20rem;}
header~.one-edge-shadow {margin-top: 168px;}
.allCrosalBoxImg img{width: 100%;}
.schlnewsCrosal .owl-stage{display: flex;}
.schlnewsCrosal .newsImgs img{width: 100%;}
.schlnewsCrosal {margin-top: 80px;position: relative;overflow: hidden;}
.schlnewsCrosal.owl-theme .owl-nav [class*='owl-']{
    border: 0 none;
    background: transparent;
    color: #5E5E5E50;
    font-size: 70px;
    display: flex;
    align-items: self-start;
    cursor: pointer;
}


/*about sections*/
.abtBanner{
    background: url('./../images/newImg/abtBnr.png') 0 0 no-repeat;
    background-size: cover;
    padding: 5rem 0;
    margin-top: 150px;
}
.abtBnrRow{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20rem 0 5rem;
    width: 100%;
}
.abtBnrCnt{text-align: center;}
.abtBnrCnt h2{font-size: 68px;    color: #FFFFFF;font-family: "samsungbold";}
.abtBnrBox{position: relative;width: 25%;}
.abtBnrBoxImg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.abtBnrBoxCnt span{    font-size: 35px;color: #FFFFFF;font-family: "gothammedium";}
.abtBnrBoxCnt h1{font-size: 90px;color: #FFFFFF;font-family: "gothambold";}
.abtBnrBoxCnt~p{font-size: 24px;color: #FFFFFF;font-family: 'Gotham XNarrow 325', sans-serif;}
.abtBnrBoxCnt h1 sup{font-size: 30px;    top: -1.5em;}
.abtBnrBoxImg img{width: 75%;}
.abtBnrBoxCnt {padding-bottom: 80px;}
.abtBnrBox:last-child .abtBnrBoxImg img{width: 70%;}
.abtBnrBox:last-child .abtBnrBoxCnt h1{    font-size: 74px;}
.abtPils.nav-pills{background: #BC1820;padding: 50px 0 10px;width: 70%;}
.abtPils.nav-pills .nav-link{
    font-size: 18px;
    color: #FFFFFF;
    font-family: 'Gotham XNarrow 325', sans-serif;
    padding: 25px 35px;
    border-bottom: 2px solid #FFFFFF42;
    position: relative;
    text-align: start;
    transition: 0.3s;
}
.abtPils.nav-pills .nav-link:after{
    content: '';
    position: absolute;
    left: 1px;
    top: 0;
    width: 5px;
    height: 100%;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
.abtPils.nav-pills .nav-link.active:after{visibility: visible; opacity: 1;}
.abtPils.nav-pills .nav-link.active{font-family: "gothambold";color: #fff;border-bottom: 2px solid #FFFFFF42;padding: 25px 35px;}
.abtPils.nav-pills .nav-link:last-child{border-bottom: 2px solid transparent;}
.abtPilsCnt{padding: 60px 0px;}
.abtPilsCnt h2{font-size: 36px;    color: #202020;font-family: "gothambold";}
.abtPilsCnt p{font-size: 18px;color: #2A2A2A;    font-family: 'Gotham XNarrow 325', sans-serif;}
.smtTab{padding-bottom: 150px;overflow: hidden;background: #F3F3F3;}
.misionscnts {margin-bottom: 20px;}
.coreImg {padding-bottom: 20px;}
.coreCnt h4{    font-size: 23px;color: #202020;font-family: "gothammedium";}
.coreBox{border-right: 2px solid #51515142;padding: 30px 30px 30px 0;}
.abtPils.nav-pills{width: 100%;}
.dharma{background: #202020;padding: 60px 0px 70px;position: relative;}
.dharma:after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #202020;
    z-index: 9;
    transform: scaleX(10);
}
.abtPilsCnt .dharma h2{color: #FFFFFF;}
.abtPilsCnt .dharma h4{font-size: 36px;color: #ffffff;font-family: "gothammedium";}
.abtPilsCnt .dharma p{font-size: 23px;    color: #fff;font-family: "gothammedium";}
.dharmaCnt{border-bottom: 4px solid #BC1820;    padding-bottom: 30px;margin-right: 20px;}
.chartCnt{display: flex;padding: 40px 45px;border: 2px solid #BC1820;border-bottom: 0px;}
.chartLeft{line-height: 1;margin-right: 50px;}
.chartLeft span{
        display: block;
    color: #BC1820;
    font-size: 30px;
    font-family: "gothambold";
}
.chartLeft strong{font-size: 63px;color: #BC1820;font-family: "gothambold";}
.abtPilsCnt .chartRight p{font-size: 30px;color: #202020;font-family: "gothambold";}
.chartImg img{width: 100%;}
.viewL{
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
    background: #747474;
    border-radius: 13px;
    padding: 14px 15px;
}
.viewL svg{color: #FFFFFF;font-size: 20px;}
.abtPilsCnt .viewL p{color: #FFFFFF;font-size: 20px;font-family: "gothambold";}
.lagacyCnt blockquote{font-size: 30px;color: #202020;line-height: 1.4;}
.lagacyCnt hr{    opacity: 1;    border-top: 4px solid #BC1820;    margin: 4rem 0;}
.glgLag{width: 100%;}
.glgLagImg{width: 50%;}
.glgLagImg img{width: 100%;height: 100%;object-fit: cover;}
.glgLagCnt{background: #BC1820;padding: 60px 50px;width: 50%;}
.glgLagCnt p{font-size: 24px;color: #FFFFFF;font-style: italic;}
.leaderDiv {width: 80%;}
.abtPilsCnt .ldrBox .ldrBoxCnt h4{font-size: 30px;color: #202020;font-family: "gothambold";}
.abtPilsCnt .ldrBox .ldrBoxCnt p{font-size: 24px;color: #202020;}
.ldrBox{padding-bottom: 30px;}
.ldrBoxCnt .explore{background: #fff;}
.ldrDtlBnr {margin-top: 160px;}
.goBack{
    position: absolute;
    top: 10%;
    left: 15%;
    font-size: 20px;
    color: #202020;
    font-family: "gothammedium";
    cursor: pointer;
}
.ldrDtlCnt{
    background: #202020;
    padding: 65px 70px;
    width: 90%;
    margin-left: auto;
    margin-top: -150px;
    position: relative;
}
.ldrBox .ldrBoxCnt h4{color: #fff;}
.ldrBox .ldrBoxCnt p{    color: #fff;}
.ldrBoxDtl{padding-left: 30px;}
.ldrBoxDtl p{font-size: 18px;color: #FFFFFF;font-family: 'Gotham XNarrow 325', sans-serif;}
.ldrBoxDtl h6{font-size: 22px;color: #FFFFFF;font-family: "gothammedium";}
.dharma>.row{position: relative;z-index: 99;}
.newsThe{width: 80%;margin: 0 auto;}
.newsThesec{margin-bottom: 150px;}



@media (min-width: 1600px){
	.container{max-width: 1650px;}

}
@media (max-width: 1600px){
    .ldrDtlBnr{margin-top: 120px;}
    .ldrDtlCnt{margin-top: -100px;}
    .leaderDiv{width: 100%;}
    .glgLagCnt p{font-size: 20px;}
    .glgLagCnt{padding: 40px 30px;}
    .lagacyCnt blockquote{font-size: 24px;}
    .abtPilsCnt .viewL p{font-size: 18px;}
    .viewL{top: 30px;padding: 12px 15px;}
    .abtBnrRow{    padding: 15rem 0 5rem;}
    .abtBnrBoxCnt span{font-size: 24px;}
    .abtBnrBoxCnt h1{font-size: 60px;}
    .abtBnrBoxCnt h1 sup{font-size: 20px;}
    .abtBnrBoxCnt~p{font-size: 20px;}
    .abtBnrBox:last-child .abtBnrBoxCnt h1{font-size: 50px;}
    .abtBanner{margin-top: 120px;}
    header~.one-edge-shadow{margin-top: 120px;}
    .allCrosalBoxCnt p{font-size: 16px;}
    .tstDivCrowBx{padding-right: 50px;}
    .tstCnt p{font-size: 18px;}
    .tstCnt strong{font-size: 16px;}
    blockquote{font-size: 20px;}
    .navCrousal{top: 120px;}
    .tpUl a{padding: 10px 15px;}
    .applyNow{padding: 10px 20px;min-width: 150px;}
    .navbar-expand-lg .navbar-nav .nav-link{font-size: 18px;padding: 0 15px;}
    .navbar-brand img{width: 250px;}
    .bnrHead{padding: 15rem 0;}
    .bnrHead h1{font-size: 100px;}
    .striveForm{top: 10rem;width: 55%;}
    .striveColmn{padding: 150px 50px;}
    .strColCnt p{font-size: 18px;}
    .striveColmn>.row{margin-bottom: 50px;max-height: 99rem;}
    .nationCnt{padding: 60px 80px;}
    .nationCnt h2{font-size: 50px;}
    .counterBox{width: 60%;}
    .cnterBoxCnt{padding: 20px 50px;}
    .cnterBoxCnt h4{font-size: 50px;}
    .cnterBoxCnt p{font-size: 20px;}
    .fstCnt h4{font-size: 24px;}
    .viewAll{padding: 10px 30px;}
    .research .nationCnt{padding: 50px 10px;}
    .nationCnt p{font-size: 18px;}
    .tpHead{width: 70%;}
    .tpCntrBox{padding: 0px 30px;}
    .tpCntrBox h4{font-size: 40px;}
    .tpCntrBox p{font-size: 16px;}
    .minLpaImg img{height: 200px;}
    .vibrant{background-position: 60% 0px;padding: 100px 0px;}
    .facilityCnt{padding-right: 5%;}
    .standing .tpHead{    width: 90%;}
    .standing .tpHead p{padding: 0 10%;}
    .blogRight h4{font-size: 24px;}
    .stdBtmRght{padding: 40px 30px;}
    .stdBtmRght h6{font-size: 20px;}
    .stdBtmRght:after{left: 90%;}
    .tstImgBox{padding: 30px 30px 20px;}
    .alliance .tpHead{width: 90%;}
    .newsBox{min-height: 450px;}
    .newsImg img{height: 100%;object-fit: cover;}
    .newsImg{height: 100%;}
    .scndList .ftrUl li{width: 30%;}
    .scndList .ftrUl{height: 400px;}
}
@media (max-width: 991px){
    .ldrBoxDtl{padding-left: 0;}
    .newsThe{width: 100%;}
    .ldrDtlCnt{width: 100%;margin-top: -100px;}
    .ldrDtlBnr img{height: 300px;width: 100%;object-fit: cover;}
    .leaderDiv{width: 80%;}
    .glgLag{flex-wrap: wrap;}
    .glgLagImg{width: 100%;}
    .glgLagCnt{width: 100%;}
    .smtTab{    padding-bottom: 100px;}
    .smtTab .bannercntnt{padding: 30px 30px;}
    .coreBox{border-bottom: 2px solid #51515142;}
    .abtPilsCnt .dharma p{font-size: 18px;}
    .chartCnt{flex-wrap: wrap;padding: 30px 30px;}
    .abtPilsCnt .chartRight p{font-size: 24px;}
    .chartLeft{margin-bottom: 20px;}
    .chartLeft span{font-size: 24px;}
    .chartLeft strong{font-size: 50px;}
    .abtPilsCnt .viewL p{font-size: 14px;}
    .viewL svg{font-size: 16px;}
    .viewL{top: 10px;padding: 10px 15px;right: 10px;}
    .abtBnrRow{justify-content: space-around;padding: 10rem 0 3rem;}
    .abtBnrBoxCnt{    padding-bottom: 50px;}
    .abtBnrBoxImg img{width: 100%;}
    .abtBnrBoxCnt span{font-size: 20px;}
    .abtBnrBoxCnt h1{font-size: 50px;}
    .abtBnrBoxCnt h1 sup{font-size: 18px;top: -1.2em;}
    .abtBnrBoxCnt~p{font-size: 18px;}
    .abtBnrBox:last-child .abtBnrBoxImg img{width: 95%;}
    .abtBnrBox:last-child .abtBnrBoxCnt h1{font-size: 40px;}
    .abtBnrCnt h2{font-size: 44px;}
    .navbar-nav{    margin-bottom: 30px !important;}
    .tpUl{justify-content: start;flex-wrap: nowrap;white-space: nowrap;overflow-x: scroll;}
    .navbar-toggler-icon{background-image: url('./../images/newImg/bar.svg');}
    .navbar-toggler:focus{box-shadow: none;}
    .navbar-collapse{padding: 20px 0;}
    .navbar-nav{padding: 10px 0;}
    .navbar-expand-lg .navbar-nav .nav-link{font-size: 20px;padding: 10px 15px;}
    .nav-link.active~.navCrousal{padding-top: 10px;padding-bottom: 0px;}
    .navCrousal .owl-stage-outer:after, .navCrousal>.container:after{margin-top: 20px;bottom: 0px;}
    .navCrousal.owl-theme .owl-nav{padding: 0 0px;}
    .navCrousal{left: 30%;width: 70%;    top: 150px;padding-left: 0;}
    .navCrousal .row .col-md-9{overflow-x: scroll;}
    .accedmicUl {width: 400%;}
    .accedmicList ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 260px;
        width: 100%;
    }
    .navCrousal li{padding-left: 20px;}
    .accedmicItem{font-size: 16px;}
    .navCrousal .row{align-items: center;}
    .bnrHead h1{font-size: 60px;}
    .striveForm{top: 0;width: 100%;padding: 50px 50px;position: relative;}
    .striveForm:after{width: 100%;}
    .striveColmn{padding: 100px 50px;}
    .counterBox{width: 100%;}
    .cnterBoxCnt{padding: 20px 20px;}
    .nationCnt{padding: 30px 50px;}
    .nationCnt h2{font-size: 40px;}
    .nation .row.align-items-end{align-items: center !important;}
    .philosophy{padding-left: 0px;}
    .lstImg{left: 0px;}
    .lstImg img{width: 100%;}
    .research{padding: 100px 0 250px;}
    .research .nationCnt{padding: 0px 10px;}
    .striveColmn>.row{max-height: 85rem;}
    .innovation{padding: 70px 30px 70px;}
    .tpHead{    width: 90%;}
    .tpCntrBox{padding: 0px 15px;}
    .tpCntrBox h4{font-size: 34px;}
    .tpCntrBox p{font-size: 12px;}
    .tpCompanieBox{    width: 30%;}
    .tpCompanieBox:last-child{display: none;}
    .standingBox.w-50{width: 100%!important;    flex-wrap: wrap;}
    .standingBox.w-100{flex-wrap: wrap;}
    .standingBox.w-100 .stdRowBtm {width: 100% !important;}
    .standingBox.w-100 .stdRowBtm:last-child{flex-direction: row-reverse;}
    .gray .stdBtmRght:after{left: -15px;}
    .tstDivCrow{width: 100%;}
    .tstDivCrow.owl-theme .owl-nav [class*='owl-']{top: 40%;right: -2%;}
    .alliance .innovation{padding: 50px 30px 50px;}
    .mediaBox{width: 30%;padding: 30px 20px;min-height: 125px;margin-bottom: 20px;margin-right: 20px;}
    .mediaRow{flex-wrap: wrap;justify-content: flex-start;}
    .ftrBtm ul{flex-wrap: wrap;}
    .navCrousal .resMob{overflow-x: scroll;}
}
@media (max-width: 767px){
    .ldrDtlBnr{margin-top: 90px;}
    .ldrDtlBnr img{height: 200px;}
    .ldrDtlCnt{padding: 30px 20px;}
    .ldrBox{padding-bottom: 0;}
    .ldrBoxDtl p{font-size: 16px;}
    .newsThesec .cardcontent{border-left: 2px solid #BC1820;padding-left: 20px;}
    .newsThesec .cardcontent p{font-size: 18px !important;}
    .newsThesec{margin-bottom: 100px;}
    .newsThesec .cardcontent .knowmore a{font-size: 18px !important;}
    .abtPilsCnt .ldrBox .ldrBoxCnt p{font-size: 20px;}
    .ldrBoxCnt .explore{border: 1px solid #BC1820;font-size: 14px;padding: 8px 30px;}
    .leaderDiv{width: 100%;}
    .lagacyCnt blockquote{font-size: 20px;}
    .lagacyCnt hr{border-top: 2px solid #BC1820;margin: 2rem 0;}
    .glgLagCnt{padding: 20px 20px;}
    .abtPilsCnt .viewL p{font-size: 12px;}
    .viewL svg{font-size: 10px;margin-right: 5px !important;}
    .viewL{top: 5px;padding: 5px 5px;right: 5px;border-radius: 5px;}
    .smtTab{padding-bottom: 50px;}
    .abtPilsCnt h2{font-size: 30px;}
    .abtPilsCnt p{font-size: 16px;}
    .smtTab .bannercntnt{padding: 30px 20px;}
    .coreBox{    border-bottom: 2px solid #51515142;border-right: 2px solid transparent;}
    .abtBnrBox{width: 33%;}
    .abtBnrCnt h2{font-size: 36px;}
    .abtBnrRow{align-items: baseline;padding: 5rem 0 3rem;}
    .abtBnrBoxCnt{padding-bottom: 40px;}
    .abtBnrBoxImg img{width: 100%;}
    .abtBnrBoxCnt span{font-size: 14px;}
    .abtBnrBoxCnt h1{font-size: 30px;}
    .abtBnrBoxCnt h1 sup{font-size: 12px;}
    .abtBnrBoxCnt~p{font-size: 14px;}
    .abtBnrBox:last-child .abtBnrBoxCnt h1{font-size: 26px;}
    .abtBanner{margin-top: 90px;}
    .scndList .ftrUl{height: auto;display: block;}
    .scndList .ftrUl li{width: 100%;}
    .cntctUl a{font-size: 16px;}
    .ftlItem{font-size: 16px;}
    .ftrUl{height: auto;flex-direction: unset;display: block;}
    .tpHead h2{font-size: 30px;}
    .banner.hm{margin-top: 0;background-position: center center;}
    .bnrHead{padding: 10rem 0;}
    .bnrHead h1{padding: 50px 0;}
    .striveForm{padding: 50px 15px;}
    .striveForm h2{font-size: 30px;}
    .striveForm p{font-size: 16px;}
    .exploreInput{height: 46px;}
    .striveColmn{padding: 50px 20px;}
    .striveColmn>.row{max-height: 82rem;}
    .nationCnt{padding: 30px 20px;}
    .nationCnt h2{font-size: 36px;}
    .fstImg:before{width: 75%;    top: 100%;height: 2px;}
    .fstImg:after{top: 102%;height: 5px;width: 75%;right: 10px;}
    .innovation{    padding: 50px 0px 50px;width: 100%;margin-top: 0;}
    .research{padding: 70px 0 60px;}
    .blgBoxCnt{padding: 20px;}
    .blgBoxCnt h4{font-size: 24px;}
    .blgBoxCnt p{font-size: 16px;}
    .knowMore{font-size: 16px;}
    .tpHead{width: 100%;}
    .tpHead p{font-size: 16px;}
    .tpCntrBox{width: 40%;margin-bottom: 20px;padding: 10px 15px;margin-right: 20px;border-bottom: 1px solid #C1C1C1;}
    .tpCntrBox:last-child{border-right: 1px solid #C1C1C1;}
    .minLpaCnt h4{font-size: 18px;padding: 5px 20px;}
    .minLpaCnt p{padding: 5px 10px;font-size: 12px;}
    .minLpaCnt p span{font-size: 12px;}
    .facilityCnt h4{font-size: 24px;}
    .standing .tpHead{width: 100%;}
    .standing .tpHead p{padding: 0 0;}
    .standing .blogRight .blgBoxCnt{position: static;}
    .standingBox.w-100 .stdRowBtm{    flex-wrap: wrap;}
    .stdBtmRght{width: 100%;padding: 20px 20px;}
    .stdBtmRght h6{font-size: 18px;margin-bottom: 10px !important;}
    .stdBtmleft{width: 100%;}
    .stdBtmRght:after{left: 50%;top: 90%;transform: translate(-50%, -50%) rotate(45deg);}
    .gray .stdBtmRght:after{    left: 50%; }
    .tstDiv h2{font-size: 36px;}
    .quoteBdr{height: 2px;    width: 100%;}
    .tstDivCrowBx{padding-right: 30px;}
    blockquote{font-size: 16px;}
    .ytCnt h4{font-size: 18px;margin-bottom: 20px !important;}
    .alliance .innovation{margin-top: 0;}
    .testimonial{padding: 70px 0px 30px;}
    .alliance .tpHead{width: 100%;}
    .tpCounter{flex-wrap: wrap;}
    .allCrosal.owl-theme .owl-nav .owl-next{right: 0px;}
    .mediaBox{width: 44%;}
    .ftrBtm ul li, .ftrBtm ul li a{font-size: 14px;}
    .lpaCrousal.owl-theme .owl-nav [class*='owl-']{top: 86%;right: 40%;}
    .navbar-brand img{width: 200px;}
    .navbar-toggler{border: 0 none;}
    .tpUl a{padding: 5px 10px;font-size: 12px;}
    .navbar-collapse{overflow-x: hidden;padding-top: 0;}
    .navbar-nav{display: flex;flex-direction: inherit;    overflow-x: scroll;margin-bottom: 30px;transition: 0.5s;}
    .navCrousal .owl-stage-outer{width: 100%;}
    .navbar-expand-lg .navbar-nav .nav-link{    font-size: 14px;font-family: sans-serif;padding: 10px 10px;}
    .navCrousal{left: 0%;width: 100%;top: 160px;padding-left: 0;}
    .dropdown-item-Img img{width: 100%;    height: 100px;object-fit: cover;}
    .dropdown-item-Cnt{padding: 10px 10px;}
    .dropdown-item-Cnt p{    font-size: 12px;}
    .navbar-nav~form{justify-content: center;}
    .applyNow{padding: 8px 15px;min-width: 150px;font-size: 14px;}
    .accedmicList ul{height: auto;display: block;}
    .accedmicItem{font-size: 12px;margin-bottom: 7px;}
    .accedmicList span{font-size: 14px;}
    .navCrousal .resMob{overflow: scroll;    height: 180px;}
    .dropdown-toggle::after{border-left: 1px solid #fff;    border-bottom: 1px solid #fff;height: 10px;width: 10px;}
    .accedmicUl .accedmicList:nth-child(1) .accedmicItem:after{
        top: 5px;
        left: -20px;
        border-right: 1px solid #FF5D5D;
        border-bottom: 1px solid #FF5D5D;
        height: 8px;
        width: 8px;
    }
    .accedmicUl .accedmicList:nth-child(2) li,
    .accedmicUl .accedmicList:nth-child(3) li{padding-left: 0px;}
    .accedmicUl .accedmicList:nth-child(2) .accedmicItem{font-size: 12px;margin-bottom: 5px;}
    .accedmicUl .accedmicList:nth-child(3) .accedmicItem{font-size: 10px;}
    body.active header{background: #000000eb;box-shadow: 0 7px 15px #000000eb;}
    .ftrBtm{margin-top: 0px;}
    .SocialItem img{width: 40px;}
    .goBack{font-size: 16px;}
    .goBack svg{margin-right: 10px !important;}
    address{font-size: 16px;}
    .tabCntDiv {position: relative;}
    .tabCnt{
        font-family: "gothambold";
    color: #fff;
    border-bottom: 4px solid #FFFFFF;
    padding: 25px 35px;
    display: block;
    background: #bc1820;
    }
    .tabCntArrow{
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 50%;
    width: 25px;
    height: 25px;
    border: 2px solid #fff;
    border-radius: 50%;
    transform: translate(0px, -50%);
    }
    .tabCntArrow:after{
     position: absolute;
    content: '';
    left: 25%;
    top: 20%;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(-45deg);
    }
    .abtPils.nav-pills .nav-link:after{width: 100%;height: 2px;    left: 0px;}
    .tabCntDiv~.abtPils.nav-pills{display: none;}
    .abtPils.nav-pills .nav-link{width: 100%;}
    .abtPils.nav-pills .nav-link.active{border-bottom: 2px solid #ffffff;}
    .abtPils.nav-pills{padding: 0px 0 10px;}
    .abtPils.nav-pills .nav-link.active:after{display: none;}
}